## - Creating <font color='blue'>m18_Global_QLQ30groups65gl</font> feature based on M18_Global_QLQ30
## - Using features which affect QLQ-C30 from <u>bibliography/research</u> ,  <font color='blue'>m0</font>, <font color='blue'>m3</font> and <font color='blue'>m6</font>
## - K-Nearest Neighbors
## - SMOTE and without SMOTE

In [38]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pyreadstat

In [39]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [40]:
cols = ['age','cancer_stage','M0_performancestatus','M3_performancestatus','M6_performancestatus','income_3','M0_optimism_LOT','radiotherapy','endocrine','antiher2','chemotherapy','care_team','education_3','education_2','M0_employment_status','M3_employment_status','M6_employment_status','marital_status','marital_status_2','cancer_grade','M0_surgery','M3_surgery','M6_surgery','M3_emotional_support','M3_social_support_total','M0_employment_status','M6_employment_status','income_3','M0_mental_health_total_HADS','M3_mental_health_total_HADS','M6_mental_health_total_HADS','nccn_distress_thermometer','m3_nccn_distress_thermometer','M0_exercise','M6_exercise','M3_PTGI_spiritual_change','baseline_histological_type','baseline_chronic_illness','m0_bmi','m0_Global_QLQ30groups65gl','m3_Global_QLQ30groups65gl','m6_Global_QLQ30groups65gl','M18_Global_QLQ30']
df=pd.read_spss(r"C:\Users\Chris\Desktop\Cancer_Prediction\BOUNCE_Full Dataset_m0_m3_m6_m9_m12_m15_m18_09-12-2021_ORIGINAL.sav", usecols=cols)

In [41]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,M18_Global_QLQ30
0,66.0,CHAMP,1.0,0-9 years,Widowed,Single/widowed/engaged,employed full time,Employed full time,very low,moderate,...,No,Yes,Yes,1.0,0.0,0.0,good QoL,good QoL,good QoL,66.666667
1,54.0,CHAMP,2.0,high-school/vocational/University,Widowed,Single/widowed/engaged,employed full time,Employed full time,average,no,...,Yes,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,poor QoL,83.333333
2,45.0,CHAMP,2.0,high-school/vocational/University,Common law partner,married/separated/common law partner,self-employed,NaN,very low,no,...,Yes,Yes,No,0.0,NaN,NaN,good QoL,NaN,NaN,NaN
3,70.0,CHAMP,1.0,0-9 years,Widowed,Single/widowed/engaged,housewife,Housewife,very low,no,...,No,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,good QoL,100.000000
4,49.0,CHAMP,3.0,high-school/vocational/University,Married,married/separated/common law partner,housewife,Housewife,high,moderate,...,No,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,good QoL,66.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,NaN,IEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,Yes,Yes,NaN,0.0,NaN,NaN,good QoL,NaN,83.333333
762,43.0,IEO,3.0,high-school/vocational/University,Common law partner,married/separated/common law partner,self-employed,Self employed,average,moderate,...,Yes,No,Yes,0.0,0.0,0.0,good QoL,poor QoL,NaN,NaN
763,NaN,IEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,0.0,0.0,0.0,NaN,good QoL,good QoL,NaN
764,NaN,CHAMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.666667
765,NaN,HUJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.666667

In [42]:
# create a list of our conditions (breakpoint 65)
# >65  ->  0
# <65  ->  1
conditions = [(df['M18_Global_QLQ30'] >= 0) & (df['M18_Global_QLQ30'] <= 65),(df['M18_Global_QLQ30'] > 65) & (df['M18_Global_QLQ30'] <= 100)]

In [43]:
# create a list of the values we want to assign for each condition
values = [9, 8]

In [44]:
df['m18_Global_QLQ30groups65gl'] = np.select(conditions, values)

In [45]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,M18_Global_QLQ30,m18_Global_QLQ30groups65gl
0,66.0,CHAMP,1.0,0-9 years,Widowed,Single/widowed/engaged,employed full time,Employed full time,very low,moderate,...,Yes,Yes,1.0,0.0,0.0,good QoL,good QoL,good QoL,66.666667,8
1,54.0,CHAMP,2.0,high-school/vocational/University,Widowed,Single/widowed/engaged,employed full time,Employed full time,average,no,...,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,poor QoL,83.333333,8
2,45.0,CHAMP,2.0,high-school/vocational/University,Common law partner,married/separated/common law partner,self-employed,NaN,very low,no,...,Yes,No,0.0,NaN,NaN,good QoL,NaN,NaN,NaN,0
3,70.0,CHAMP,1.0,0-9 years,Widowed,Single/widowed/engaged,housewife,Housewife,very low,no,...,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,good QoL,100.000000,8
4,49.0,CHAMP,3.0,high-school/vocational/University,Married,married/separated/common law partner,housewife,Housewife,high,moderate,...,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,good QoL,66.666667,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,NaN,IEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,NaN,0.0,NaN,NaN,good QoL,NaN,83.333333,8
762,43.0,IEO,3.0,high-school/vocational/University,Common law partner,married/separated/common law partner,self-employed,Self employed,average,moderate,...,No,Yes,0.0,0.0,0.0,good QoL,poor QoL,NaN,NaN,0
763,NaN,IEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,0.0,0.0,0.0,NaN,good QoL,good QoL,NaN,0
764,NaN,CHAMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.666667,8
765,NaN,HUJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.666667,9

In [46]:
df['m18_Global_QLQ30groups65gl']=df['m18_Global_QLQ30groups65gl'].replace(0, np.NaN)
df['m18_Global_QLQ30groups65gl']=df['m18_Global_QLQ30groups65gl'].replace(9, 1)
df['m18_Global_QLQ30groups65gl']=df['m18_Global_QLQ30groups65gl'].replace(8, 0)

In [47]:
df = df.drop('M18_Global_QLQ30', 1)

C:\Users\Chris\AppData\Local\Temp/ipykernel_600/2872487555.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('M18_Global_QLQ30', 1)

In [48]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.0,CHAMP,1.0,0-9 years,Widowed,Single/widowed/engaged,employed full time,Employed full time,very low,moderate,...,No,Yes,Yes,1.0,0.0,0.0,good QoL,good QoL,good QoL,0.0
1,54.0,CHAMP,2.0,high-school/vocational/University,Widowed,Single/widowed/engaged,employed full time,Employed full time,average,no,...,Yes,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,poor QoL,0.0
2,45.0,CHAMP,2.0,high-school/vocational/University,Common law partner,married/separated/common law partner,self-employed,NaN,very low,no,...,Yes,Yes,No,0.0,NaN,NaN,good QoL,NaN,NaN,NaN
3,70.0,CHAMP,1.0,0-9 years,Widowed,Single/widowed/engaged,housewife,Housewife,very low,no,...,No,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,good QoL,0.0
4,49.0,CHAMP,3.0,high-school/vocational/University,Married,married/separated/common law partner,housewife,Housewife,high,moderate,...,No,Yes,Yes,0.0,0.0,0.0,good QoL,good QoL,good QoL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,NaN,IEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,Yes,Yes,NaN,0.0,NaN,NaN,good QoL,NaN,0.0
762,43.0,IEO,3.0,high-school/vocational/University,Common law partner,married/separated/common law partner,self-employed,Self employed,average,moderate,...,Yes,No,Yes,0.0,0.0,0.0,good QoL,poor QoL,NaN,NaN
763,NaN,IEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,0.0,0.0,0.0,NaN,good QoL,good QoL,NaN
764,NaN,CHAMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
765,NaN,HUJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

<b>0</b> -> <font color='blue'>good QoL</font> 
<br>
<b>1</b> -> <font color='red'>poor QoL</font>

In [49]:
#check the category features
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           757 non-null    float64
 1   care_team                     766 non-null    category
 2   education_3                   750 non-null    float64
 3   education_2                   750 non-null    category
 4   marital_status                745 non-null    category
 5   marital_status_2              745 non-null    category
 6   M0_employment_status          756 non-null    category
 7   M6_employment_status          626 non-null    category
 8   income_3                      710 non-null    category
 9   M0_exercise                   749 non-null    category
 10  M6_exercise                   616 non-null    category
 11  nccn_distress_thermometer     595 non-null    float64
 12  m3_nccn_distress_thermometer  617 non-null    float64
 13  M0_optimism_LOT               724 non-null    float64
 14  M0_mental_health_total_HADS   745 non-null    float64
 15  M3_emotional_support          655 non-null    float64
 16  M3_social_support_total       651 non-null    float64
 17  M3_PTGI_spiritual_change      646 non-null    float64
 18  M3_mental_health_total_HADS   646 non-null    float64
 19  M6_mental_health_total_HADS   613 non-null    float64
 20  cancer_stage                  760 non-null    float64
 21  cancer_grade                  746 non-null    float64
 22  baseline_chronic_illness      763 non-null    category
 23  baseline_histological_type    753 non-null    category
 24  M0_performancestatus          742 non-null    float64
 25  chemotherapy                  753 non-null    category
 26  radiotherapy                  763 non-null    category
 27  endocrine                     763 non-null    category
 28  M0_surgery                    738 non-null    float64
 29  M3_surgery                    651 non-null    float64
 30  M6_surgery                    615 non-null    float64
 31  m0_Global_QLQ30groups65gl     728 non-null    category
 32  m3_Global_QLQ30groups65gl     648 non-null    category
 33  m6_Global_QLQ30groups65gl     603 non-null    category
 34  m18_Global_QLQ30groups65gl    531 non-null    float64
dtypes: category(17), float64(18)
memory usage: 123.0 KB

In [50]:
#convert category to numeric value
from sklearn.preprocessing import LabelEncoder
labelencoder_Y = LabelEncoder()
df.iloc[:,1] = labelencoder_Y.fit_transform(df.iloc[:,1].values)
df.iloc[:,3] = labelencoder_Y.fit_transform(df.iloc[:,3].values)
df.iloc[:,4] = labelencoder_Y.fit_transform(df.iloc[:,4].values)
df.iloc[:,5] = labelencoder_Y.fit_transform(df.iloc[:,5].values)
df.iloc[:,6] = labelencoder_Y.fit_transform(df.iloc[:,6].values)
df.iloc[:,7] = labelencoder_Y.fit_transform(df.iloc[:,7].values)
df.iloc[:,8] = labelencoder_Y.fit_transform(df.iloc[:,8].values)
df.iloc[:,9] = labelencoder_Y.fit_transform(df.iloc[:,9].values)
df.iloc[:,10] = labelencoder_Y.fit_transform(df.iloc[:,10].values)
df.iloc[:,22] = labelencoder_Y.fit_transform(df.iloc[:,22].values)
df.iloc[:,23] = labelencoder_Y.fit_transform(df.iloc[:,23].values)
df.iloc[:,25] = labelencoder_Y.fit_transform(df.iloc[:,25].values)
df.iloc[:,26] = labelencoder_Y.fit_transform(df.iloc[:,26].values)
df.iloc[:,27] = labelencoder_Y.fit_transform(df.iloc[:,27].values)
df.iloc[:,31] = labelencoder_Y.fit_transform(df.iloc[:,31].values)
df.iloc[:,32] = labelencoder_Y.fit_transform(df.iloc[:,32].values)
df.iloc[:,33] = labelencoder_Y.fit_transform(df.iloc[:,33].values)

In [51]:
#check the category features
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           757 non-null    float64
 1   care_team                     766 non-null    int32
 2   education_3                   750 non-null    float64
 3   education_2                   766 non-null    int32
 4   marital_status                766 non-null    int32
 5   marital_status_2              766 non-null    int32
 6   M0_employment_status          766 non-null    int32
 7   M6_employment_status          766 non-null    int32
 8   income_3                      766 non-null    int32
 9   M0_exercise                   766 non-null    int32
 10  M6_exercise                   766 non-null    int32
 11  nccn_distress_thermometer     595 non-null    float64
 12  m3_nccn_distress_thermometer  617 non-null    float64
 13  M0_optimism_LOT               724 non-null    float64
 14  M0_mental_health_total_HADS   745 non-null    float64
 15  M3_emotional_support          655 non-null    float64
 16  M3_social_support_total       651 non-null    float64
 17  M3_PTGI_spiritual_change      646 non-null    float64
 18  M3_mental_health_total_HADS   646 non-null    float64
 19  M6_mental_health_total_HADS   613 non-null    float64
 20  cancer_stage                  760 non-null    float64
 21  cancer_grade                  746 non-null    float64
 22  baseline_chronic_illness      766 non-null    int32
 23  baseline_histological_type    766 non-null    int32
 24  M0_performancestatus          742 non-null    float64
 25  chemotherapy                  766 non-null    int32
 26  radiotherapy                  766 non-null    int32
 27  endocrine                     766 non-null    int32
 28  M0_surgery                    738 non-null    float64
 29  M3_surgery                    651 non-null    float64
 30  M6_surgery                    615 non-null    float64
 31  m0_Global_QLQ30groups65gl     766 non-null    int32
 32  m3_Global_QLQ30groups65gl     766 non-null    int32
 33  m6_Global_QLQ30groups65gl     766 non-null    int32
 34  m18_Global_QLQ30groups65gl    531 non-null    float64
dtypes: float64(18), int32(17)
memory usage: 158.7 KB

In [52]:
#convert corresponding int32 feature type to float64
df['care_team'] = df.care_team.astype(float)
df['education_2'] = df.education_2.astype(float)
df['marital_status'] = df.marital_status.astype(float)
df['marital_status_2'] = df.marital_status_2.astype(float)
df['M0_employment_status'] = df.M0_employment_status.astype(float)
df['M6_employment_status'] = df.M6_employment_status.astype(float)
df['income_3'] = df.income_3.astype(float)
df['M0_exercise'] = df.M0_exercise.astype(float)
df['M6_exercise'] = df.M6_exercise.astype(float)
df['baseline_chronic_illness'] = df.baseline_chronic_illness.astype(float)
df['baseline_histological_type'] = df.baseline_histological_type.astype(float)
df['chemotherapy'] = df.chemotherapy.astype(float)
df['radiotherapy'] = df.radiotherapy.astype(float)
df['endocrine'] = df.endocrine.astype(float)
df['m0_Global_QLQ30groups65gl'] = df.m0_Global_QLQ30groups65gl.astype(float)
df['m3_Global_QLQ30groups65gl'] = df.m3_Global_QLQ30groups65gl.astype(float)
df['m6_Global_QLQ30groups65gl'] = df.m6_Global_QLQ30groups65gl.astype(float)

In [53]:
#check the category features
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           757 non-null    float64
 1   care_team                     766 non-null    float64
 2   education_3                   750 non-null    float64
 3   education_2                   766 non-null    float64
 4   marital_status                766 non-null    float64
 5   marital_status_2              766 non-null    float64
 6   M0_employment_status          766 non-null    float64
 7   M6_employment_status          766 non-null    float64
 8   income_3                      766 non-null    float64
 9   M0_exercise                   766 non-null    float64
 10  M6_exercise                   766 non-null    float64
 11  nccn_distress_thermometer     595 non-null    float64
 12  m3_nccn_distress_thermometer  617 non-null    float64
 13  M0_optimism_LOT               724 non-null    float64
 14  M0_mental_health_total_HADS   745 non-null    float64
 15  M3_emotional_support          655 non-null    float64
 16  M3_social_support_total       651 non-null    float64
 17  M3_PTGI_spiritual_change      646 non-null    float64
 18  M3_mental_health_total_HADS   646 non-null    float64
 19  M6_mental_health_total_HADS   613 non-null    float64
 20  cancer_stage                  760 non-null    float64
 21  cancer_grade                  746 non-null    float64
 22  baseline_chronic_illness      766 non-null    float64
 23  baseline_histological_type    766 non-null    float64
 24  M0_performancestatus          742 non-null    float64
 25  chemotherapy                  766 non-null    float64
 26  radiotherapy                  766 non-null    float64
 27  endocrine                     766 non-null    float64
 28  M0_surgery                    738 non-null    float64
 29  M3_surgery                    651 non-null    float64
 30  M6_surgery                    615 non-null    float64
 31  m0_Global_QLQ30groups65gl     766 non-null    float64
 32  m3_Global_QLQ30groups65gl     766 non-null    float64
 33  m6_Global_QLQ30groups65gl     766 non-null    float64
 34  m18_Global_QLQ30groups65gl    531 non-null    float64
dtypes: float64(35)
memory usage: 209.6 KB

In [54]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,2.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,54.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,45.0,0.0,2.0,1.0,0.0,1.0,4.0,6.0,2.0,2.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,2.0,2.0,NaN
3,70.0,0.0,1.0,0.0,4.0,0.0,2.0,2.0,2.0,2.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,49.0,0.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,NaN,3.0,NaN,2.0,5.0,2.0,6.0,6.0,3.0,3.0,...,0.0,1.0,1.0,NaN,0.0,NaN,2.0,0.0,2.0,0.0
762,43.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,NaN
763,NaN,3.0,NaN,2.0,5.0,2.0,6.0,6.0,3.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,NaN
764,NaN,0.0,NaN,2.0,5.0,2.0,6.0,6.0,3.0,3.0,...,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0,0.0
765,NaN,1.0,NaN,2.0,5.0,2.0,6.0,6.0,3.0,3.0,...,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0,1.0

In [55]:
#convert corresponding numeric value to NaN
df['education_2']=df['education_2'].replace(2, np.NaN)
df['marital_status']=df['marital_status'].replace(5, np.NaN)
df['marital_status_2']=df['marital_status_2'].replace(2, np.NaN)
df['M0_employment_status']=df['M0_employment_status'].replace(6, np.NaN)
df['M6_employment_status']=df['M6_employment_status'].replace(6, np.NaN)
df['income_3']=df['income_3'].replace(3, np.NaN)
df['M0_exercise']=df['M0_exercise'].replace(3, np.NaN)
df['M6_exercise']=df['M6_exercise'].replace(3, np.NaN)
df['baseline_chronic_illness']=df['baseline_chronic_illness'].replace(2, np.NaN)
df['baseline_histological_type']=df['baseline_histological_type'].replace(3, np.NaN)
df['chemotherapy']=df['chemotherapy'].replace(2, np.NaN)
df['radiotherapy']=df['radiotherapy'].replace(2, np.NaN)
df['endocrine']=df['endocrine'].replace(2, np.NaN)
df['m0_Global_QLQ30groups65gl']=df['m0_Global_QLQ30groups65gl'].replace(2, np.NaN)
df['m3_Global_QLQ30groups65gl']=df['m3_Global_QLQ30groups65gl'].replace(2, np.NaN)
df['m6_Global_QLQ30groups65gl']=df['m6_Global_QLQ30groups65gl'].replace(2, np.NaN)

In [56]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,2.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,54.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,45.0,0.0,2.0,1.0,0.0,1.0,4.0,NaN,2.0,2.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
3,70.0,0.0,1.0,0.0,4.0,0.0,2.0,2.0,2.0,2.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,49.0,0.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0
762,43.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
763,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
764,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
765,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

---------------------------

<font color='blue'><b>MICE Data Imoutation</b></font>

In [20]:
imputer = IterativeImputer(imputation_order='ascending',max_iter=10,random_state=42,n_nearest_features=None)

In [21]:
df = imputer.fit_transform(df)

c:\users\chris\appdata\local\programs\python\python39\lib\site-packages\sklearn\impute\_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [22]:
df

array([[66.        ,  0.        ,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [54.        ,  0.        ,  2.        , ...,  0.        ,
         1.        ,  0.        ],
       [45.        ,  0.        ,  2.        , ...,  0.32448779,
         0.22870169,  0.71528565],
       ...,
       [49.26714227,  3.        ,  2.37398529, ...,  0.        ,
         0.        ,  0.1993238 ],
       [53.54142224,  0.        ,  2.65636587, ...,  0.36959662,
         0.1230989 ,  0.        ],
       [55.21181968,  1.        ,  2.39826438, ...,  0.42606482,
         0.34475049,  1.        ]])

In [23]:
cols = len(df[0])
print('Number of columns', cols)

Number of columns 35

In [24]:
#Convert Array to Dataframe and name columns
df=pd.DataFrame(df,columns = ['age',
'care_team',
'education_3',
'education_2',
'marital_status',
'marital_status_2',
'M0_employment_status',
'M6_employment_status',
'income_3',
'M0_exercise',
'M6_exercise',
'nccn_distress_thermometer',
'm3_nccn_distress_thermometer',
'M0_optimism_LOT',
'M0_mental_health_total_HADS',
'M3_emotional_support',
'M3_social_support_total',
'M3_PTGI_spiritual_change',
'M3_mental_health_total_HADS',   
'M6_mental_health_total_HADS',
'cancer_stage',
'cancer_grade',
'baseline_chronic_illness',
'baseline_histological_type',
'M0_performancestatus',
'chemotherapy',
'radiotherapy',
'endocrine',
'M0_surgery',
'M3_surgery',
'M6_surgery',
'm0_Global_QLQ30groups65gl',
'm3_Global_QLQ30groups65gl',
'm6_Global_QLQ30groups65gl',
'm18_Global_QLQ30groups65gl'
])

In [25]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.000000,0.0,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,2.000000,1.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,54.000000,0.0,2.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,2.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
2,45.000000,0.0,2.000000,1.000000,0.000000,1.000000,4.000000,3.501426,2.000000,2.000000,...,1.000000,1.000000,0.000000,0.000000,0.012624,0.036539,0.000000,0.324488,0.228702,0.715286
3,70.000000,0.0,1.000000,0.000000,4.000000,0.000000,2.000000,2.000000,2.000000,2.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,49.000000,0.0,3.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,53.933227,3.0,2.352726,0.895341,1.211033,0.912354,1.353145,1.469328,0.690668,0.996128,...,0.000000,1.000000,1.000000,0.292336,0.000000,-0.008468,0.162132,0.000000,0.024659,0.000000
762,43.000000,3.0,3.000000,1.000000,0.000000,1.000000,4.000000,4.000000,0.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.471597,0.469454
763,49.267142,3.0,2.373985,0.897936,1.329394,0.840229,0.995676,0.887505,0.531303,0.985937,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.355418,0.000000,0.000000,0.199324
764,53.541422,0.0,2.656366,0.942647,1.513958,0.816938,0.881806,1.073805,0.520119,0.932199,...,0.631730,0.961305,0.848382,0.271470,0.007380,0.031380,0.196583,0.369597,0.123099,0.000000
765,55.211820,1.0,2.398264,0.917196,1.158782,0.905314,1.567525,1.699787,0.805939,1.232448,...,0.482578,0.725786,0.769720,0.191984,0.009526,0.025280,0.358337,0.426065,0.344750,1.000000

<b>- roundup values</b>

In [26]:
df.age = df.age.round()
df.care_team = df.care_team.round()
df.education_3 = df.education_3.round()
df.education_2 = df.education_2.round()
df.marital_status = df.marital_status.round()
df.marital_status_2 = df.marital_status_2.round()
df.M0_employment_status = df.M0_employment_status.round()
df.M6_employment_status = df.M6_employment_status.round()
df.income_3 = df.income_3.round()
df.M0_exercise = df.M0_exercise.round()
df.M6_exercise = df.M6_exercise.round()
df.nccn_distress_thermometer = df.nccn_distress_thermometer.round()
df.m3_nccn_distress_thermometer = df.m3_nccn_distress_thermometer.round()
df.M0_optimism_LOT = df.M0_optimism_LOT.round()
df.M0_mental_health_total_HADS = df.M0_mental_health_total_HADS.round()
df.M3_emotional_support = df.M3_emotional_support.round()
df.M3_social_support_total = df.M3_social_support_total.round()
df.M3_PTGI_spiritual_change = df.M3_PTGI_spiritual_change.round()
df.M3_mental_health_total_HADS = df.M3_mental_health_total_HADS.round()
df.M6_mental_health_total_HADS = df.M6_mental_health_total_HADS.round()
df.cancer_stage = df.cancer_stage.round()
df.cancer_grade = df.cancer_grade.round()
df.baseline_chronic_illness = df.baseline_chronic_illness.round()
df.baseline_histological_type = df.baseline_histological_type.round()
df.M0_performancestatus = df.M0_performancestatus.round()
df.chemotherapy = df.chemotherapy.round()
df.radiotherapy = df.radiotherapy.round()
df.endocrine = df.endocrine.round()
df.M0_surgery = df.M0_surgery.round()
df.M3_surgery = df.M3_surgery.round()
df.M6_surgery = df.M6_surgery.round()
df.m0_Global_QLQ30groups65gl = df.m0_Global_QLQ30groups65gl.round()
df.m3_Global_QLQ30groups65gl = df.m3_Global_QLQ30groups65gl.round()
df.m6_Global_QLQ30groups65gl = df.m6_Global_QLQ30groups65gl.round()
df.m18_Global_QLQ30groups65gl = df.m18_Global_QLQ30groups65gl.round()

In [27]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,2.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,54.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,45.0,0.0,2.0,1.0,0.0,1.0,4.0,4.0,2.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,70.0,0.0,1.0,0.0,4.0,0.0,2.0,2.0,2.0,2.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,49.0,0.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,54.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,-0.0,0.0,0.0,0.0,0.0
762,43.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
763,49.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
764,54.0,0.0,3.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
765,55.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

----------

<font color='blue'><b><u>K-Nearest Neighbors</u></b></font>

In [28]:
# split the dataset into independent (X) and dependent (Y) (m12) which is the target value
X=df.iloc[:,1:-1].values
Y=df.iloc[:,-1].values

In [29]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.2, random_state=4)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
#Train Model and Predict
k = 5  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,Y_train)
Pred_y = neigh.predict(X_test)
print("Accuracy of model at K=5 is",metrics.accuracy_score(Y_test, Pred_y))

Accuracy of model at K=5 is 0.7207792207792207

<font color='red'>Accuracy: 72.01%</font>

In [32]:
#confusion matrix
pd.crosstab(Y_test,Pred_y)

col_0  0.0  1.0
row_0
0.0     91   14
1.0     29   20

For 0: <font color='blue'>87%</font> (91/105) correctly classified - > <font color='blue'>good QoL</font> accuracy
<br>
For 1: <font color='red'>41%</font> (29/49) correctly classified -> <font color='red'>poor QoL</font> accuracy

--------------

<u><font color='blue'>SMOTE</u></font>

In [33]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [34]:
X_train_smote, Y_train_smote = smote.fit_resample(X_train.astype('float'),Y_train)

In [35]:
from collections import Counter
print("Before SMOTE: ", Counter(Y_train))
print("After SMOTE: ", Counter(Y_train_smote))

Before SMOTE:  Counter({0.0: 378, 1.0: 234})
After SMOTE:  Counter({0.0: 378, 1.0: 378})

In [36]:
from sklearn.metrics import accuracy_score
neigh.fit(X_train_smote,Y_train_smote)
Pred_y = neigh.predict(X_test)
print('Accuracy:',accuracy_score(Y_test,Pred_y))

Accuracy: 0.7272727272727273

<font color='red'>Accuracy: 72,73%</font>

In [37]:
#confusion matrix
pd.crosstab(Y_test,Pred_y)

col_0  0.0  1.0
row_0
0.0     77   28
1.0     14   35

For 0: <font color='blue'>73%</font> (77/105) correctly classified - > <font color='blue'>good QoL</font> accuracy
<br>
For 1: <font color='red'>71%</font> (35/49) correctly classified -> <font color='red'>poor QoL</font> accuracy

------------

<font color='blue'><b><u>without</b></u></font> MICE Data Imoutation <br>
replacing remaining NaN values with the corresponding <u>mean value</u>

In [57]:
df

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,2.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,54.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,45.0,0.0,2.0,1.0,0.0,1.0,4.0,NaN,2.0,2.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
3,70.0,0.0,1.0,0.0,4.0,0.0,2.0,2.0,2.0,2.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,49.0,0.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0
762,43.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
763,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
764,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
765,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [58]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           757 non-null    float64
 1   care_team                     766 non-null    float64
 2   education_3                   750 non-null    float64
 3   education_2                   750 non-null    float64
 4   marital_status                745 non-null    float64
 5   marital_status_2              745 non-null    float64
 6   M0_employment_status          756 non-null    float64
 7   M6_employment_status          626 non-null    float64
 8   income_3                      710 non-null    float64
 9   M0_exercise                   749 non-null    float64
 10  M6_exercise                   616 non-null    float64
 11  nccn_distress_thermometer     595 non-null    float64
 12  m3_nccn_distress_thermometer  617 non-null    float64
 13  M0_optimism_LOT               724 non-null    float64
 14  M0_mental_health_total_HADS   745 non-null    float64
 15  M3_emotional_support          655 non-null    float64
 16  M3_social_support_total       651 non-null    float64
 17  M3_PTGI_spiritual_change      646 non-null    float64
 18  M3_mental_health_total_HADS   646 non-null    float64
 19  M6_mental_health_total_HADS   613 non-null    float64
 20  cancer_stage                  760 non-null    float64
 21  cancer_grade                  746 non-null    float64
 22  baseline_chronic_illness      763 non-null    float64
 23  baseline_histological_type    753 non-null    float64
 24  M0_performancestatus          742 non-null    float64
 25  chemotherapy                  753 non-null    float64
 26  radiotherapy                  763 non-null    float64
 27  endocrine                     763 non-null    float64
 28  M0_surgery                    738 non-null    float64
 29  M3_surgery                    651 non-null    float64
 30  M6_surgery                    615 non-null    float64
 31  m0_Global_QLQ30groups65gl     728 non-null    float64
 32  m3_Global_QLQ30groups65gl     648 non-null    float64
 33  m6_Global_QLQ30groups65gl     603 non-null    float64
 34  m18_Global_QLQ30groups65gl    531 non-null    float64
dtypes: float64(35)
memory usage: 209.6 KB

<b>- replace NaN values with mean of each column -</b>

In [59]:
df_mean = df.fillna(df.mean())

In [60]:
df_mean

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.000000,0.0,1.000000,0.000000,4.000000,0.00000,0.00000,0.000000,2.000000,1.000000,...,0.000000,1.00000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
1,54.000000,0.0,2.000000,1.000000,4.000000,0.00000,0.00000,0.000000,0.000000,2.000000,...,1.000000,1.00000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000
2,45.000000,0.0,2.000000,1.000000,0.000000,1.00000,4.00000,1.420128,2.000000,2.000000,...,1.000000,1.00000,0.000000,0.000000,0.00768,0.021138,0.000000,0.348765,0.222222,0.365348
3,70.000000,0.0,1.000000,0.000000,4.000000,0.00000,2.00000,2.000000,2.000000,2.000000,...,0.000000,1.00000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,49.000000,0.0,3.000000,1.000000,1.000000,1.00000,2.00000,2.000000,1.000000,1.000000,...,0.000000,1.00000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,54.108322,3.0,2.462667,0.921333,1.328859,0.85906,1.32672,1.420128,0.630986,1.034713,...,0.000000,1.00000,1.000000,0.264228,0.00000,0.021138,0.282967,0.000000,0.222222,0.000000
762,43.000000,3.0,3.000000,1.000000,0.000000,1.00000,4.00000,4.000000,0.000000,1.000000,...,1.000000,0.00000,1.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.222222,0.365348
763,54.108322,3.0,2.462667,0.921333,1.328859,0.85906,1.32672,1.420128,0.630986,1.034713,...,1.000000,1.00000,1.000000,0.000000,0.00000,0.000000,0.282967,0.000000,0.000000,0.365348
764,54.108322,0.0,2.462667,0.921333,1.328859,0.85906,1.32672,1.420128,0.630986,1.034713,...,0.501992,0.74574,0.816514,0.264228,0.00768,0.021138,0.282967,0.348765,0.222222,0.000000
765,54.108322,1.0,2.462667,0.921333,1.328859,0.85906,1.32672,1.420128,0.630986,1.034713,...,0.501992,0.74574,0.816514,0.264228,0.00768,0.021138,0.282967,0.348765,0.222222,1.000000

<b>- roundup values</b>  -

In [61]:
df_mean.age = df_mean.age.round()
df_mean.care_team = df_mean.care_team.round()
df_mean.education_3 = df_mean.education_3.round()
df_mean.education_2 = df_mean.education_2.round()
df_mean.marital_status = df_mean.marital_status.round()
df_mean.marital_status_2 = df_mean.marital_status_2.round()
df_mean.M0_employment_status = df_mean.M0_employment_status.round()
df_mean.M6_employment_status = df_mean.M6_employment_status.round()
df_mean.income_3 = df_mean.income_3.round()
df_mean.M0_exercise = df_mean.M0_exercise.round()
df_mean.M6_exercise = df_mean.M6_exercise.round()
df_mean.nccn_distress_thermometer = df_mean.nccn_distress_thermometer.round()
df_mean.m3_nccn_distress_thermometer = df_mean.m3_nccn_distress_thermometer.round()
df_mean.M0_optimism_LOT = df_mean.M0_optimism_LOT.round()
df_mean.M0_mental_health_total_HADS = df_mean.M0_mental_health_total_HADS.round()
df_mean.M3_emotional_support = df_mean.M3_emotional_support.round()
df_mean.M3_social_support_total = df_mean.M3_social_support_total.round()
df_mean.M3_PTGI_spiritual_change = df_mean.M3_PTGI_spiritual_change.round()
df_mean.M3_mental_health_total_HADS = df_mean.M3_mental_health_total_HADS.round()
df_mean.M6_mental_health_total_HADS = df_mean.M6_mental_health_total_HADS.round()
df_mean.cancer_stage = df_mean.cancer_stage.round()
df_mean.cancer_grade = df_mean.cancer_grade.round()
df_mean.baseline_chronic_illness = df_mean.baseline_chronic_illness.round()
df_mean.baseline_histological_type = df_mean.baseline_histological_type.round()
df_mean.M0_performancestatus = df_mean.M0_performancestatus.round()
df_mean.chemotherapy = df_mean.chemotherapy.round()
df_mean.radiotherapy = df_mean.radiotherapy.round()
df_mean.endocrine = df_mean.endocrine.round()
df_mean.M0_surgery = df_mean.M0_surgery.round()
df_mean.M3_surgery = df_mean.M3_surgery.round()
df_mean.M6_surgery = df_mean.M6_surgery.round()
df_mean.m0_Global_QLQ30groups65gl = df_mean.m0_Global_QLQ30groups65gl.round()
df_mean.m3_Global_QLQ30groups65gl = df_mean.m3_Global_QLQ30groups65gl.round()
df_mean.m6_Global_QLQ30groups65gl = df_mean.m6_Global_QLQ30groups65gl.round()
df_mean.m18_Global_QLQ30groups65gl = df_mean.m18_Global_QLQ30groups65gl.round()

In [62]:
df_mean

,age,care_team,education_3,education_2,marital_status,marital_status_2,M0_employment_status,M6_employment_status,income_3,M0_exercise,...,chemotherapy,radiotherapy,endocrine,M0_surgery,M3_surgery,M6_surgery,m0_Global_QLQ30groups65gl,m3_Global_QLQ30groups65gl,m6_Global_QLQ30groups65gl,m18_Global_QLQ30groups65gl
0,66.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,2.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,54.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,45.0,0.0,2.0,1.0,0.0,1.0,4.0,1.0,2.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,70.0,0.0,1.0,0.0,4.0,0.0,2.0,2.0,2.0,2.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,49.0,0.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,54.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
762,43.0,3.0,3.0,1.0,0.0,1.0,4.0,4.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
763,54.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
764,54.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
765,54.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [63]:
df_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           766 non-null    float64
 1   care_team                     766 non-null    float64
 2   education_3                   766 non-null    float64
 3   education_2                   766 non-null    float64
 4   marital_status                766 non-null    float64
 5   marital_status_2              766 non-null    float64
 6   M0_employment_status          766 non-null    float64
 7   M6_employment_status          766 non-null    float64
 8   income_3                      766 non-null    float64
 9   M0_exercise                   766 non-null    float64
 10  M6_exercise                   766 non-null    float64
 11  nccn_distress_thermometer     766 non-null    float64
 12  m3_nccn_distress_thermometer  766 non-null    float64
 13  M0_optimism_LOT               766 non-null    float64
 14  M0_mental_health_total_HADS   766 non-null    float64
 15  M3_emotional_support          766 non-null    float64
 16  M3_social_support_total       766 non-null    float64
 17  M3_PTGI_spiritual_change      766 non-null    float64
 18  M3_mental_health_total_HADS   766 non-null    float64
 19  M6_mental_health_total_HADS   766 non-null    float64
 20  cancer_stage                  766 non-null    float64
 21  cancer_grade                  766 non-null    float64
 22  baseline_chronic_illness      766 non-null    float64
 23  baseline_histological_type    766 non-null    float64
 24  M0_performancestatus          766 non-null    float64
 25  chemotherapy                  766 non-null    float64
 26  radiotherapy                  766 non-null    float64
 27  endocrine                     766 non-null    float64
 28  M0_surgery                    766 non-null    float64
 29  M3_surgery                    766 non-null    float64
 30  M6_surgery                    766 non-null    float64
 31  m0_Global_QLQ30groups65gl     766 non-null    float64
 32  m3_Global_QLQ30groups65gl     766 non-null    float64
 33  m6_Global_QLQ30groups65gl     766 non-null    float64
 34  m18_Global_QLQ30groups65gl    766 non-null    float64
dtypes: float64(35)
memory usage: 209.6 KB

--------------------

<font color='blue'><b><u>K-Nearest Neighbors</u></b></font>

In [64]:
# split the dataset into independent (X) and dependent (Y) (m12) which is the target value
X=df_mean.iloc[:,1:-1].values
Y=df_mean.iloc[:,-1].values

In [65]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.2, random_state=4)

In [67]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
#Train Model and Predict
k = 5  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,Y_train)
Pred_y = neigh.predict(X_test)
print("Accuracy of model at K=5 is",metrics.accuracy_score(Y_test, Pred_y))

Accuracy of model at K=5 is 0.7792207792207793

<font color='red'>Accuracy: 77.92%</font>

In [68]:
#confusion matrix
pd.crosstab(Y_test,Pred_y)

col_0  0.0  1.0
row_0
0.0    113    8
1.0     26    7

For 0: <font color='blue'>93%</font> (113/121) correctly classified - > <font color='blue'>good QoL</font> accuracy
<br>
For 1: <font color='red'>21%</font> (7/33) correctly classified -> <font color='red'>poor QoL</font> accuracy

-----------------

<u><font color='blue'>SMOTE</u></font>

In [69]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [70]:
X_train_smote, Y_train_smote = smote.fit_resample(X_train.astype('float'),Y_train)

In [71]:
from collections import Counter
print("Before SMOTE: ", Counter(Y_train))
print("After SMOTE: ", Counter(Y_train_smote))

Before SMOTE:  Counter({0.0: 451, 1.0: 161})
After SMOTE:  Counter({0.0: 451, 1.0: 451})

In [72]:
from sklearn.metrics import accuracy_score
neigh.fit(X_train_smote,Y_train_smote)
Pred_y = neigh.predict(X_test)
print('Accuracy:',accuracy_score(Y_test,Pred_y))

Accuracy: 0.6233766233766234

<font color='red'>Accuracy: 62,34%</font>

In [73]:
#confusion matrix
pd.crosstab(Y_test,Pred_y)

col_0  0.0  1.0
row_0
0.0     71   50
1.0      8   25

For 0: <font color='blue'>59%</font> (91/121) correctly classified - > <font color='blue'>good QoL</font> accuracy
<br>
For 1: <font color='red'>76%</font> (25/33) correctly classified -> <font color='red'>poor QoL</font> accuracy